<!DOCTYPE html>
<html>
  <head>
    <title>Projects and Volunteers</title>
    <link rel='stylesheet' type="text/css" href='<%= url('/styles.css') %>'>
  </head>
  <body>
    <div id="page-container">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>