<div id="list">
  <%=
      <<-HERE
        <p>
          #{@project.title}
        </p>
      HERE
  %>
</div>
<a href="/projects/<%=@project.id%>/edit">Edit Project</a>



<div>
  <%=
    @volunteers && @volunteers.map {|volunteer|
      <<-HERE
        <p>
          <a href="projects/#{volunteer.project_id}/volunteers/#{volunteer.id}">#{volunteer.name}</a>
        </p>
      HERE
    }.map(&:strip).join('')
  %>
</div>