  <form action="/projects/<%=@project.id%>/volunteers" method="post">

    <label for="title">Add a Volunteer</label>
    <input id="title" name="name" type="text" required>

    <button type="submit">Create Project</button>
  </form>